{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title customer.name~' '~customer.place %}

{% block content_header %}
    <section class="content-header">
        <div class="d-flex flex-row justify-content-between align-content-center w-100">
            <div class="content-header-title">
                <h1 class="title">
                    {{ customer.name }} <small>({{ customer.place }})</small>
                </h1>
            </div>

            <div class="page-actions">
                <a class="action-saveAndContinue btn btn-secondary action-save" href="{{ link.return }}">
                    <span class="btn-label"><i class="action-icon far fa-arrow-alt-circle-left"></i> {{ lang.return|trans }}</span>
                </a>

                <button class="action-saveAndReturn btn btn-primary action-save" type="submit" name="ea[newForm][btn]" value="saveAndReturn" form="form_customer_order_edit">
                    <span class="btn-label">{{ lang.add|trans }}</span>
                </button>

            </div>
        </div>
    </section>
{% endblock %}

{% block page_content %}
    {{ include('customer_order/_form.html.twig', {'data': data }) }}
{% endblock %}
