{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{#{% use 'bootstrap_4_layout.html.twig' %}#}

{{ form_start(form, {'attr': {'id': 'form_customer_order_edit'}}) }}
<div class="content-panel-body without-footer">

    <div class="field-text form-group">
        {{ form_label(form.amount) }}
        <div class="form-widget">
            {{ form_widget(form.amount) }}
        </div>
    </div>

    <div class="field-text form-group">
        {{ form_label(form.type) }}
        <div class="form-widget">
            {{ form_widget(form.type) }}
        </div>
    </div>

    <div class="field-text form-group">
        {{ form_label(form.payment) }}
        <div class="form-widget">
            {{ form_widget(form.payment) }}
        </div>
    </div>


    {% if new is defined %}
    <div class="field-text form-group">
        {{ form_label(form.updated) }}
        <div class="form-widget">
            {{ form_widget(form.updated) }}
        </div>
    </div>
    {% endif %}
</div>
{{ form_end(form) }}
