{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title customer.name %}

{% block content_header %}
    <section class="content-header">
        <div class="d-flex flex-row justify-content-between align-content-center w-100">
            <div class="content-header-title">
                <h1 class="title">
                    {{ customer.name }} <small>({{ customer.place }})</small>
                </h1>
            </div>

            <div class="page-actions">
                <a class="action-saveAndContinue btn btn-secondary action-save" href="{{ ea_url().setController('App\\Controller\\Admin\\CustomerCrudController').setAction('index') }}">
                    <span class="btn-label"><i class="action-icon far fa-arrow-alt-circle-left"></i> back to customer list</span>
                </a>

                <a class="action-saveAndReturn btn btn-success action-save" href="{{ path('admin_customer_order_new', app.request.query.all|merge({ id: customer.id })) }}">
                    <span class="btn-label"><i class="action-icon far fa-edit"></i> New</span>
                </a>

            </div>
        </div>
    </section>
{% endblock %}

{% block page_content %}
    <table class="table table-sm">
        <thead>
            <tr>
                <th>User</th>
                <th>Created</th>
                <th>Тип операции</th>
                <th>Вид оплаты</th>
                <th class="text-center">Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer_order in customer_orders %}
            <tr>
                <td>{{ customer_order.user ?? customer_order.user.username }}</td>
                <td>{{ customer_order.created ? customer_order.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ customer_order.type ? customer_order.type.title : '' }}</td>
                <td>{{ customer_order.payment ? customer_order.payment.title : '' }}</td>
                <th class="text-center">{{ customer_order.amount }}</th>
                <td class="actions">
                    <a class="btn btn-primary float-left mr-1" href="{{ path('admin_customer_order_edit', app.request.query.all|merge({ id: customer_order.id })) }}">edit</a>

                    <form class="float-left" method="post" action="{{ path('admin_customer_order_delete', app.request.query.all|merge({ id: customer_order.id })) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer_order.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="text-center" colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td class="text-center"><h3>{{ customer.total }}</h3></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
